# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.d
*.elf

/mk/
.desktop
*.tmp
*.bak
*.backup

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

/support_package/STM32IconFontGen/target/
/support_package/UIFontGen/target/
/software/MeWSettings/target/
/support_package/libopencm3/

*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


